/* *{  если нужно обнулить все стандартные отступы заданные             
    padding: 0;
    margin: 0;
} */


body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times,
     'Times New Roman', serif;
}

a{/* блок с сылками */
    color: black; /*цвет ссылок */
    text-decoration: none; /* изменение ссылок после нажатия */
}

a:hover{ /* состояние тега а*/
    text-decoration: underline; /* подчеркивание ссылок при наведении*/
}
a:active{
    color: blue;
}

a:visited{ /* изменние ссылок после посещения*/
    color: grey;
}


.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(red, green, blue, alpha);
}

.info{
    display: flex;
    margin-bottom: 20px;
}

@media(max-width: 700px){
    .info{
        text-align: center;
        display: block;
    }
}

.info-text{
    margin-left: 40px;
}

.info-text h4{
    margin-bottom: 10px;
}


.info p{
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 10px; /* пространство между словами*/
}
/* Box model */

.conteiner{ /*класс контейнер*/
    max-width: 750px;/* размер сайта на экране*/
    margin: auto; /* центровка сайта*/
    padding-top: 30px;
}
/*/* .social{
    background-color: green;
    padding: 15px 40px;/* отступ от края блока до контента *//*
    border: 5px solid red; /*граница блока*/
   /* margin: 20px;*/
/*} */

.card{ /* класс card*/
    padding: 15px 20px; /* отступы между блоками*/
    margin-bottom: 10px; /* отступы между блоками*/
    border-radius: 20px; /* радиус углов у блоков*/
    /*background: red;*/
}

.card h2{
    margin-bottom: 5px;
}

.bg-yellow{ /* цвет класса card bg-yellow*/
    background: #fff9dc;
}
.bg-green{ /* цвет класса card bg-green*/
    background: #e5ffe7;
}
.bg-red{ /* цвет класса card bg-red*/
    background: #ffe5e5;
}

.list{
    padding: 5px; /* отступ с лева*/
    /*list-style: none*/ /* можно убрать номера строк*/
}
.list li{ /* задать цвет тегам li*/
    color: #86898f;
    margin-bottom: 10px; /* отступы между строк*/
}

.table{ /* тег table */
    width: 100%; /* ширина таблицы во всю ширину*/
}

.table td{
    padding-bottom: 10px; /* растояние между тегами*/
}

/* .table td:nth-child(2), псевдо селектор для работы с колонками
.table td:nth-child(3)
{
    color: #86898f;
} */

.contact h2{
    text-align: center;
}

.form_group label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form_group input,
.form_group textarea{
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row{
    display: flex;
    margin-bottom: 20px;
}

.row>.form_group{
    width: 50%;
    margin-right: 20px;
}

.btn{
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

 /* position
.position{
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box{
    position: absolute; если позиционирование абсолютное то блок его не видит
    top: 50%; тогда он позиционируется относительно всего окна
    right: 50px;
    width: 50px;
    height: 50px;
    background: lightcoral;
}  */